extends layout

block content
    if category
        h1 #{title} : #{category.title}
        img(src=category.image, alt="")
    else 
        h1 #{title}

    form(method='POST' action='')
        div.form-group
            label(for='title') Category:
            input#name.form-control(type='text', placeholder='Premium Arm Chairs, Premium Relax Chairs etc.' name='title' value=(undefined===category ? '' : category.title))
        div.form-group
            label(for='image') Image:
            input#image.form-control(type='text', placeholder='https://s3-ap-southeast-1.amazonaws.com/deccan-images/armless.png' name='image' value=(undefined===category ? '' : category.image))
        button.btn.btn-primary(type='submit') Submit

    if errors 
        ul
            for error in errors
                li!= error.msg