extends layout

block content
    h1= title

    .grid 
        each product in product_list
            .tile
                if product.image
                    img(src=product.image, alt="")
                h3 
                    a(href=product.url) #{product.title} 
                p 
                    a(href=product.category.url) (#{product.category.title})
        else
            p There are no products.