extends layout

block content
        h1 Product: #{product.title}
        img(src=product.image, alt="")
        h3 Category: 
                a(href='/dashboard/' + product.category.url) #{product.category.title}
        p  Below are the instances of this product.
        .product_instance_list
            each instance in product_instances
                p
                    a(href='/dashboard/' + instance.url) #{instance.title}
        
        a.btn.btn-warning(type="button" href=`/dashboard/${product.url}/update`) Update
        a.btn.btn-danger(type="button" href=`/dashboard/${product.url}/delete`) Delete