extends layout

block content
        h1 Product Instance: #{product_instance.title}
        img(src=product_instance.image, alt="")
        h3 Color: #{product_instance.color}
        h3 Product: 
                a(href='/dashboard/' + product_instance.product.url) #{product_instance.product.title}
        p Availability: #{product_instance.availability}

        a.btn.btn-warning(type="button" href=`/dashboard/${product_instance.url}/update`) Update
        a.btn.btn-danger(type="button" href=`/dashboard/${product_instance.url}/delete`) Delete         